<div style="width: 1748px; height: 450px; margin-left: -290px">
  <img src="assets/Dual-Screen-Lake-Pond.jpg" style="width: 1880px; height: 450px">
</div>
<body class="pull_top">

    <div id="showcase">
        <div class="container">
            <div class="section_header">
                <h3>Our Services</h3>
            </div>
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <div class="span4 feature first">
                        <div class="img_box">
                            <a href="services.html">
                                <img src="assets/service1.png">
                                <span class="circle">
                                    <span class="plus">&#43;</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>Build Programs</h6>
                            <p>
                                Build any program you desire. As simple as adding activities, give them a duration, and maybe a theme.
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature">
                        <div class="img_box">
                            <a href="services.html">
                                <img src="assets/service2.png">
                                <span class="circle">
                                    <span class="plus">&#43;</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>Create Your Own Activities</h6>
                            <p>
                                Not enough activities for you? Add your own unique ones to the ever growing database!
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature last">
                        <div class="img_box">
                            <a href="services.html">
                                <img src="assets/service3.png">
                                <span class="circle">
                                    <span class="plus">&#43;</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>Theme Based Programs</h6>
                            <p>
                                Ever wanted that perfect star wars theme? Or maybe a night aboard a pirate ship? Search for the perfect themed program, or create your own!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="features">
        <div class="container">
            <div class="section_header">
                <h3>Features</h3>
            </div>
            <div class="row feature">
                <div class="span6">
                    <img src="assets/bleach-nature-epic.jpg" />
                </div>
                <div class="span6 info">
                    <h3>
                        <img src="assets/features-ico1.png" />
                        Build Programs
                    </h3>
                    <p>
                        Build any program you desire. As simple as adding activities, give them a duration, and maybe a theme. And just keep building more, and they are affiliated to you!
                    </p>
                </div>
            </div>
            <div class="row feature ss">
                <div class="span6 info">
                    <h3>
                        <img src="assets/features-ico2.png" />
                        Create Your Own Activities
                    </h3>
                    <p>
                        Not enough activities for you? Add your own unique ones to the ever growing database! Not enough activities for you? Add your own unique ones to the ever growing database! Not enough activities for you? Add your own unique ones to the ever growing database!
                    </p>
                </div>
                <div class="span6">
                    <img src="assets/clouds_epic.jpg" class="pull-right" style="max-height: 300px"/>
                </div>
            </div>
            <div class="row feature ss">
                <div class="span6">
                    <img src="assets/Full-Moon-Night.jpg" />
                </div>
                <div class="span6 info">
                    <h3>
                        <img src="assets/features-ico3.png" />
                        Theme Based Programs
                    </h3>
                    <p>
                        Ever wanted that perfect star wars theme? Or maybe a night aboard a pirate ship? Search for the perfect themed program, or create your own! Ever wanted that perfect star wars theme? Or maybe a night aboard a pirate ship? Search for the perfect themed program, or create your own!
                    </p>
                </div>
            </div>
        </div>
      </div>





    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>

    <script type="text/javascript" src="js/index-slider.js"></script>
</body>
</html>
